<% if @article.draft == true %>
	<p>This article is a draft.</p>
	<p><%= @article.title %></p>
	<p><%= @article.body %></p>
<% else %>
	<p><%= @article.title %></p>
	<p><%= @article.body %></p>
<% end %>